{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>
        {% block title %}Python Quiz Pro{% endblock %}
    </title>

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect"
          href="https://fonts.gstatic.com"
          crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap"
          rel="stylesheet">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    

</head>

<body>

    <!-- Background -->
    <div class="background"></div>


    <!-- NAVBAR -->
    <nav class="navbar">

        <div class="logo">
            🚀 Python <span>Quiz Pro</span>
        </div>

        <ul>

            <li>
                <a href="{% url 'home' %}">
                    🏠 Home
                </a>
            </li>

            {% if user.is_authenticated %}

                <li>
                    <a href="{% url 'quiz' %}">
                        🎯 Quiz
                    </a>
                </li>

                <li>
                    <a href="{% url 'dashboard' %}">
                        📊 Dashboard
                    </a>
                </li>

                <li>
                    <a href="{% url 'leaderboard' %}">
                        🏆 Leaderboard
                    </a>
                </li>

                <li>
                    <a href="{% url 'logout' %}">
                        🚪 Logout
                    </a>
                </li>

            {% else %}

                <li>
                    <a href="{% url 'login' %}">
                        🔐 Login
                    </a>
                </li>

                <li>
                    <a href="{% url 'register' %}">
                        📝 Register
                    </a>
                </li>

            {% endif %}

        </ul>

    </nav>


    <!-- MAIN PAGE -->
    <main class="page">

        {% block content %}

        {% endblock %}

    </main>


    <!-- MAIN JAVASCRIPT -->
 


    <!-- PAGE-SPECIFIC JAVASCRIPT -->
    {% block scripts %}

    {% endblock %}
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>