{% extends "base.html" %}

{% block content %}

<h1>Your Dashboard</h1>

{% if results %}

<table>

    <tr>

        <th>Score</th>

        <th>Total</th>

        <th>Date</th>

    </tr>


    {% for result in results %}

    <tr>

        <td>
            {{ result.score }}
        </td>

        <td>
            {{ result.total }}
        </td>

        <td>
            {{ result.date }}
        </td>

    </tr>

    {% endfor %}

</table>

{% else %}

<p>
    You have not completed any quiz yet.
</p>

{% endif %}

{% endblock %}