{% extends "base.html" %}

{% block content %}

<h1>🏆 Leaderboard</h1>


<table>

    <tr>

        <th>Rank</th>

        <th>User</th>

        <th>Score</th>

    </tr>


    {% for result in results %}

    <tr>

        <td>
            {{ forloop.counter }}
        </td>

        <td>
            {{ result.user.username }}
        </td>

        <td>
            {{ result.score }}/{{ result.total }}
        </td>

    </tr>

    {% empty %}

    <tr>

        <td colspan="3">

            No results yet.

        </td>

    </tr>

    {% endfor %}

</table>

{% endblock %}