{% extends "base.html" %}

{% block content %}

<div class="quiz-container">

    <h1>🧠 Python Quiz</h1>

    {% if questions %}

    <form method="POST">

        {% csrf_token %}

        {% for question in questions %}

        <div class="question-card">

            <h3>
                {{ forloop.counter }}. {{ question.question }}
            </h3>


            <label>

                <input
                    type="radio"
                    name="question_{{ question.id }}"
                    value="{{ question.option1 }}"
                    required
                >

                {{ question.option1 }}

            </label>


            <label>

                <input
                    type="radio"
                    name="question_{{ question.id }}"
                    value="{{ question.option2 }}"
                >

                {{ question.option2 }}

            </label>


            <label>

                <input
                    type="radio"
                    name="question_{{ question.id }}"
                    value="{{ question.option3 }}"
                >

                {{ question.option3 }}

            </label>


            <label>

                <input
                    type="radio"
                    name="question_{{ question.id }}"
                    value="{{ question.option4 }}"
                >

                {{ question.option4 }}

            </label>

        </div>

        {% endfor %}


        <button
            type="submit"
            class="btn"
        >

            Submit Quiz

        </button>

    </form>

    {% else %}

    <div class="empty-message">

        <h2>No questions available.</h2>

        <p>
            Please add questions from the Django admin panel.
        </p>

    </div>

    {% endif %}

</div>

{% endblock %}